* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.home-menu.pure-menu-open {
background: #000000;
}

a:hover{
!border-bottom: 2px solid #00FF00;
}

.home-menu .pure-menu-heading {
color: #0099FF;
font-weight: 400;
font-size: 120%;
border:10px;
border-bottom: #0099FF;
}

.home-menu a {
color: #0099FF;
text-align:left;
}

.pure-menu.pure-menu-horizontal>.pure-menu-heading {
display: inline-block;
margin: 5px;
vertical-align: middle;
}

.pure-menu.pure-menu-open.pure-menu-fixed {
border: 3px;
border-bottom: 2px solid #00C2FF;
box-shadow: 0px 0px 15px #FFFFFF;
}
.projects a:hover {
-webkit-animation: projects 1s;
animation: projects 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.about a:hover {
-webkit-animation: about 1s;
animation: about 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.github a:hover {
-webkit-animation: github 1s;
animation: github 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.place a:hover {
border-bottom: 2.5px solid #FF6600;
}

.holder a:hover {
border-bottom: 2.5px solid #FF0066;
}

.button a:hover {
border-bottom: 2.5px solid #0000FF;
}

div.home-menu a:hover{
background-color: #222222;
}

body { 
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	-webkit-background-size: cover;
}

.welcome{
    font-size: 2.5em;
    width: 1000px;
	position: relative;
	top: -30px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: #0099FF;
}

.border{
	border: 1.5px solid #0099FF;
	width: 1000px;
	position: relative;
	top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	margin: 0 auto;
	height: 220px;
	padding: 10px;
	margin-bottom: 50px;
	border-radius: 10px;
}

.border:hover{
border: 1.5px solid #00FF00;
}

.subtext{
    width: 1000px;
	position: relative;
	top: -90px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	color: #0099FF;
	font-size:35px;
	font-weight: light;
}

.projects-section{
box-shadow: 5px 7px 5px #000000;
border-top: 2.5px solid #FF0000;
border-bottom: 2.5px solid #FF0000;
position: relative;
top: 100px;
width:1250px;
margin: 0 auto;
margin-bottom:20px;
height: 200px;
background-color: #F5F5F5;
}

.subject{
position: absolute;
top: 0px;
left: 150px;
margin-left: 10px;
width: 1080px;
font-size: 2em;
padding: 10px;
margin-top: 10px;
background-color: #0099FF;
color: #FFFFFF;
box-shadow: 0px 0px 1.5px #333333;
}

.paragraph {
position: absolute;
left: 150px;
top: 65px;
margin-left: 10px;
padding: 5px;
width: 1080px;
margin-top: 10px;
margin-bottom: 10px;
background: #FFFFFF;
box-shadow: 0px 0px 1.5px #333333;
font-size: 18px;
text-align: center;
}

.user-logo{
padding: 10px;
}

.about-section{
box-shadow: 5px 7px 5px #000000;
border-top: 2.5px solid #00FF00;
border-bottom: 2.5px solid #00FF00;
position: relative;
top: 100px;
width:1250px;
margin: 0 auto;
margin-bottom:20px;
height: 200px;
background-color: #F5F5F5;
}

.user-name{
position: absolute;
top: 160px;
left: 10px;
font-size: 20px;
background-color: #0099FF;
width: 140px;
text-align: center;
color: #FFFFFF;
box-shadow: 0px 0px 5px #333333;
border-radius: 5px;
}

.img-shadow{
box-shadow: 0px 0px 10px #000000;
border-radius:5px;
}

.img-shadow:hover{
opacity: 0.7;
border: 1.5px solid #0099FF;
}

.footer{
background-color: #000000;
position: relative;
top: 100px;
border-top: 2px solid #0099FF;
height: 105px;
bottom: 0px;
box-shadow: 0px 0px 15px #FFFFFF;
color: #FFFFFF;
}

.git-mark{
height: 100px;
width: 100px;
padding: 10px;
}

.git-logo{
position: relative;
height: 100px;
width: 244px;
left: -15px;
}

@-webkit-keyframes projects {
from {border: 2px solid #222222;}
to {border: 2px solid #FF0000;}
}

@-webkit-keyframes about {
from {border: 2px solid #222222;}
to {border: 2px solid #00FF00;}
}

@-webkit-keyframes github {
from {border: 2px solid #222222;}
to {border: 2px solid #FFFF00;}
}

@keyframes projects {
from {border: 2px solid #222222;}
to {border: 2px solid #FF0000;}
}

@keyframes about {
from {border: 2px solid #222222;}
to {border: 2px solid #00FF00;}
}

@keyframes github {
from {border: 2px solid #222222;}
to {border: 2px solid #FFFF00;}
}
